@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}
   
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f3fb;
    color: black;
}

h3, h5, p {
    margin: 0;
}

header {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background: #f1f3fb;
}

header img {
    width: 70px;
    object-position: center;
    object-fit: cover;
}

header h1 {
    font-family: Georgia, 'Roboto', serif;
    font-size: 30px;
    margin-left: 10px;
}

header .dialog {
    display: flex;
    position: absolute;
    margin-top: 150px;
}

.add-dialog, .delete-dialog, .rak1-full-dialog, .rak2-full-dialog {
    visibility: hidden;
}

.add-dialog {
    background-color: green;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
    opacity: 1;
    transition: all 0.9s ease-in-out;
}

.delete-dialog, .rak1-full-dialog, .rak2-full-dialog {
    background-color: red;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
    opacity: 1;
    transition: all 0.9s ease-in-out;
}

main {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

main .filter {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    justify-content: end;
}

main .filter .search-box {
    display: flex;
    height: 40px;
    padding: 5px;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

main .filter .search-box input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    transition: 0.5s;
    line-height: 30px;
    width: 0px;
}

main .filter .search-box a {
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
}

main .filter .search-box:hover {
    padding: 10px 15px;
}

main .filter .search-box:hover input {
    width: 170px;
}

main .filter .search-box:hover a {
    background: white;
}

main .content {
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
    margin-top: 15px;
}

main .content .input_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    border-radius: 30px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}
main .content .input_section h3 {
    text-align: center;
    padding: 0 20px;
}

main .content .input_section form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

main .content .input_section form .input {
    display: flex;
    flex-flow: column;
}

#title, #author, #year {
    height: 42px;
    width: 100%;
    padding: 0px 20px 0;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 12px;
    margin-top: 5px;
    outline: 0;
}

main .content .input_section form button {
    border: none;
    font-weight: bold;
    background: #5DADE2;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
}

button:hover {
    cursor: pointer;
}

main .content .display-book {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 3;
}

main .content .display-book .beread-book, main .content .display-book .unread-book {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    border-radius: 30px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

main .content .display-book .book-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

main .content .display-book .book-list .books-list-empty{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    padding: 1rem;
    height: 147px;
}

main .content .display-book .book-list .books-list-empty i {
    color: red;
    font-size: 50px;
}

main .content .display-book .book-list .book {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    width: 185px;
    background: white;
    border-radius: 30px;
}

main .content .display-book .book-list .book h5 {
    font-weight: bold;
    font-size: large;
}

main .content .display-book .book-list .book h5, main .content .display-book .book-list .book p {
    overflow: hidden;
    text-overflow: ellipsis;
}

main .content .display-book .book-list .book .book-action {
    display: flex;
    gap: .5rem;
}

main .content .display-book .book-list .book button {
    border: none;
    background: #f1f3fb;
    padding: .5rem 1rem;
    border-radius: 50%;
}

@media screen and (max-width: 1170px) {
    main .content {
        flex-direction: column;
    }
}